<div class="forms-wrapper">
  <div class="login-form">
    <h3>Login</h3>
    <form name="loginForm" [formGroup]="loginForm" (submit)="onLoginFormSubmit()">
      <div class="input-wrapper">
        <input type="text" placeholder="username" name="userName" formControlName="userName" required/>
      </div>
      <div class="input-wrapper">
        <input type="password" placeholder="password" name="password" formControlName="password" required/>
      </div>
      <div class="input-wrapper">
        <input type="submit" />
      </div>
    </form>
  </div>
  
  
  <div class="register-form">
    <h3>Register</h3>
    <form name="registerForm" [formGroup]="registerForm" (submit)="onRegisterFormSubmit()">
      <div class="input-wrapper">
        <input type="text" placeholder="username" name="userName" formControlName="userName" />
      </div>
      <div class="input-wrapper">
        <input type="password" placeholder="password" name="password" formControlName="password" />
      </div>
      <div class="input-wrapper">
        <input type="text" placeholder="firstName" name="firstName" formControlName="firstName" />
      </div>
      <div class="input-wrapper">
          <input type="text" placeholder="lastName" name="lastName" formControlName="lastName" />
      </div>
      <div class="input-wrapper">
          <input type="text" placeholder="organization" name="organization" formControlName="organization" />
      </div>
  
  
      <div class="input-wrapper">
        <input type="submit" />
      </div>
    </form>
  </div>
</div>
<div class="error-message">
  {{ errorMessage }}
</div>
